{
    "openapi": "3.1.0",
    "info": {
        "title": "GetItDone API",
        "version": "1.0.0",
        "description": "The public GetItDone REST API — AI-native task management for people and agents. Authenticate with a `gid_` API key (or OAuth 2.1 access token) via `Authorization: Bearer`.",
        "contact": {
            "name": "GetItDone support",
            "url": "https://nowgetitdone.com",
            "email": "support@devino.ca"
        }
    },
    "servers": [
        {
            "url": "https://app.nowgetitdone.com",
            "description": "Production"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Organizations",
            "description": "Organizations (workspaces) — the tenant every task, project and API credential belongs to."
        },
        {
            "name": "Usage",
            "description": "Plan usage — billing period, per-meter consumption, and the per-credential burst policy."
        },
        {
            "name": "Members",
            "description": "The organization's member roster."
        },
        {
            "name": "Projects",
            "description": "Named groupings of tasks within an organization."
        },
        {
            "name": "API keys",
            "description": "The organization's API credentials — list, mint and revoke."
        },
        {
            "name": "Tasks",
            "description": "Tasks — the core work items. Public ids are product short ids (`T-123`); every content change is an immutable version, browsable via the history endpoint."
        },
        {
            "name": "Daily plan",
            "description": "The credential user's per-date daily board: a TODO (plan) section and a PROGRESS section, each holding planned tasks."
        },
        {
            "name": "Attachments",
            "description": "Task file attachments — two-phase presigned uploads and short-lived presigned downloads."
        },
        {
            "name": "Webhook endpoints",
            "description": "Outbound customer webhook endpoints (PRO+) — register, verify, rotate secrets, send test events, and read the delivery log."
        }
    ],
    "paths": {
        "/v1/organizations": {
            "get": {
                "operationId": "listOrganizations",
                "summary": "List organizations",
                "description": "Lists the organizations this credential can access. A credential is bound to exactly one organization today, so the list always fits one page.",
                "tags": [
                    "Organizations"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "workspaces:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "responses": {
                    "200": {
                        "description": "The organizations visible to this credential.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationList"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{organization_id}": {
            "get": {
                "operationId": "getOrganization",
                "summary": "Get an organization",
                "description": "Fetches a single organization by id. The id MUST equal this credential's own organization — any other id (including one that genuinely exists for a different tenant) answers 404 `resource_not_found`; there is no cross-org existence oracle.",
                "tags": [
                    "Organizations"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "workspaces:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "schema": {
                            "type": "string",
                            "description": "Must equal the credential's own organization id."
                        },
                        "required": true,
                        "description": "Must equal the credential's own organization id."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No such resource in this organization — `resource_not_found`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/usage": {
            "get": {
                "operationId": "getUsage",
                "summary": "Get plan usage",
                "description": "Reports the current billing period, per-meter consumption against the plan, and the per-credential burst allowance. Reading usage never consumes the API-call quota (the meter cost is zero), so this endpoint stays reachable even when the period allowance is exhausted.",
                "tags": [
                    "Usage"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "usage:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 0
                },
                "responses": {
                    "200": {
                        "description": "The organization's current usage snapshot.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Usage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/members": {
            "get": {
                "operationId": "listMembers",
                "summary": "List members",
                "description": "Cursor-paginated list of the credential's organization members, newest membership first.",
                "tags": [
                    "Members"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "members:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 25,
                            "description": "Maximum number of items to return (1-100).",
                            "example": 25,
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        },
                        "description": "Maximum number of items to return (1-100)."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`.",
                            "type": "string"
                        },
                        "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page of the organization's members.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MemberList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request — `validation_failed` (see `errors`; a malformed `Idempotency-Key` header lands here too).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/projects": {
            "get": {
                "operationId": "listProjects",
                "summary": "List projects",
                "description": "Cursor-paginated list of the credential's organization projects, newest first.",
                "tags": [
                    "Projects"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "projects:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 25,
                            "description": "Maximum number of items to return (1-100).",
                            "example": 25,
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        },
                        "description": "Maximum number of items to return (1-100)."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`.",
                            "type": "string"
                        },
                        "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page of the organization's projects.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request — `validation_failed` (see `errors`; a malformed `Idempotency-Key` header lands here too).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createProject",
                "summary": "Create a project",
                "description": "Creates a project in the credential's organization. Supports the optional `Idempotency-Key` header for safe retries; a project name that already exists in this organization answers 400 `validation_failed` with a `/name` field error (the uniqueness rule the in-app project creator also enforces) — note that when an Idempotency-Key IS supplied, that 400 is itself stored and replayed byte-identically on retry with the SAME key, exactly like any other outcome (D5).",
                "tags": [
                    "Projects"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "projects:write"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": true,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "Idempotency-Key",
                        "schema": {
                            "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response (marked `Idempotency-Replayed: true`, never re-executed, never charged against quota). The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                        },
                        "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response (marked `Idempotency-Replayed: true`, never re-executed, never charged against quota). The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProjectBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created project.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request — `validation_failed` (see `errors`; a malformed `Idempotency-Key` header lands here too).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A request with this Idempotency-Key is still executing — `idempotency_in_progress`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Idempotency-Key reused with a different request body — `idempotency_key_reused`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/projects/{project_id}": {
            "get": {
                "operationId": "getProject",
                "summary": "Get a project",
                "description": "Fetches a single project by id, scoped to the credential's organization. A project id from another organization (or an unknown id) answers 404 `resource_not_found` — no cross-org existence oracle.",
                "tags": [
                    "Projects"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "projects:read"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "project_id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The project.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No such resource in this organization — `resource_not_found`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/api-keys": {
            "get": {
                "operationId": "listApiKeys",
                "summary": "List API keys",
                "description": "Cursor-paginated list of the organization's API keys (both generations), metadata only — never hashes or plaintext secrets.",
                "tags": [
                    "API keys"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "api-keys:manage"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": false,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 25,
                            "description": "Maximum number of items to return (1-100).",
                            "example": 25,
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        },
                        "description": "Maximum number of items to return (1-100)."
                    },
                    {
                        "in": "query",
                        "name": "after",
                        "schema": {
                            "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`.",
                            "type": "string"
                        },
                        "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page of the organization's API keys.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request — `validation_failed` (see `errors`; a malformed `Idempotency-Key` header lands here too).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Over a limit — `rate_limited` (burst; retry after `Retry-After`) or `quota_exhausted` (billing-period allowance).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createApiKey",
                "summary": "Create an API key",
                "description": "Mints a new org-owned API key. Beyond the `api-keys:manage` scope check, the CALLING credential's creator must currently hold an owner/admin membership in the organization — a key minted while its creator was an admin stops being able to mint further keys the moment that user is demoted (403 `insufficient_scope`). Supports the optional `Idempotency-Key` header; note the replay caution: a replayed response includes the ORIGINAL plaintext `key` again within the 24h replay window (the same tradeoff Stripe makes for idempotent secret-bearing responses) — treat a stored Idempotency-Key as equally sensitive to the secret itself.",
                "tags": [
                    "API keys"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-scopes": [
                    "api-keys:manage"
                ],
                "x-entitlement": "public_api",
                "x-idempotent": true,
                "x-meter": {
                    "metric": "API_CALLS",
                    "cost": 1
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "Idempotency-Key",
                        "schema": {
                            "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response (marked `Idempotency-Replayed: true`, never re-executed, never charged against quota). The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                        },
                        "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response (marked `Idempotency-Replayed: true`, never re-executed, never charged against quota). The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiKeyBody"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created key, with its plaintext secret shown once.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            },
                            "RateLimit-Policy": {
                                "required": true,
                                "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 structured-field policy list, burst window first, e.g. `\"per-key-minute\";q=120;w=60, \"api-calls-period\";q=50000;w=2592000`."
                                }
                            },
                            "RateLimit": {
                                "required": true,
                                "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`.",
                                "schema": {
                                    "type": "string",
                                    "description": "IETF draft-11 current state of the primary (burst) policy, e.g. `\"per-key-minute\";r=97;t=42`."
                                }
                            },
                            "X-RateLimit-Limit": {
                                "required": true,
                                "description": "Primary window request allowance (de-facto trio).",
                                "schema": {
                                    "type": "string",
                                    "description": "Primary window request allowance (de-facto trio)."
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "required": true,
                                "description": "Requests remaining in the primary window.",
                                "schema": {
                                    "type": "string",
                                    "description": "Requests remaining in the primary window."
                                }
                            },
                            "X-RateLimit-Reset": {
                                "required": true,
                                "description": "Unix epoch seconds at which the primary window resets.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unix epoch seconds at which the primary window resets."
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreatedApiKey"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request — `validation_failed` (see `errors`; a malformed `Idempotency-Key` header lands here too).",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authenticated but denied — `insufficient_scope` or `feature_not_enabled`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A request with this Idempotency-Key is still executing — `idempotency_in_progress`.",
                        "headers": {
                            "x-request-id": {
                                "required": true,
                                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                                "schema": {
                                    "type": "string",
                                    "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                                }
                            }
                        },
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
[...]
